# Database info and credentials
DB_ROOT_PASS=a_example_root_password
DB_NAME=tictactoe
DB_USER=tictacpilled
DB_PASS=a_example_password

# Github 0Auth2 credentials <https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app>
GITHUB_ID=
GITHUB_SECRET=
# Redirect target once authenticated
REDIRECT_URL=https://tictactoe.drullk.us
